<!--
* @Author: 李健
* @Date:   2018-10-26 16:49:50
* @Last Modified by:   banana
* @Last Modified time: 2018-10-26 17:22:11
* @E-mail: 852688838@qq.com
* @Tel: 18633899381
-->
<extend name="Layouts:layouts" />
<block name="main">
	<div class="row mt">
        <div class="col-lg-6 col-md-6 col-sm-12">
        	<div class="showback">
                <h4><i class="fa fa-angle-right"></i> 授权</h4>
                <button type="button" class="btn btn-default">生成开户码</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-danger">Danger</button>
            </div>  
        </div>
    </div>      
</block>